:root {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin:  0 auto;
    gap: 0.5rem;
}

header, footer {
    background-color: #023047;
}

footer {
    color: white;
    text-align: center;
}

header h1, h2 {
    text-align: center;
}

div {
    background-color: #CCC;
}

article h2 {
    /* height: 3.75rem; */
    margin: 0;
    padding: 1rem 0;
    background-color: #219EBC;
}

.card {
    padding: 0 0.5rem;
}

.card a {
    display: block;
    margin: 1rem 0;
}


img {
    width: 100%;
}