:root {
    --base-font-size: 16px;
    --heading-fonts: "Arvo", serif;
    --content-fonts: "Lato", sans-serif;
    /* My Color Pallet */
    /* https://coolors.co/111378-e63946-f1faee-a8dadc-457b9d */
    --main-color: rgba(17,69,120,1);
    --nav-color: rgb(69, 123, 157);
    --nav-hover: rgb(168, 218, 220);
    --contrast-color: rgb(230, 57, 70);
}

body {
    margin: 0;
    font-size: var(--base-font-size);
    font-family: var(--content-fonts);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    background-color: var(--main-color);
    padding: 1rem 0;
    margin: 0;
    color: white;
    font-family: var(--heading-fonts);
}

h2, h3 {
    font-family: var(--heading-fonts);
    color: var(--contrast-color);
}

nav ul {
    /* border: 1px solid rgb(212, 20, 20); */
    border: 1px solid var(--nav-color);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

nav ul li {
    flex: 0 1 auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 2px;
    width: 100%;
    display: inline-block;
    background: var(--nav-color);
    /* background: rgb(238, 13, 13); */
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    /* background: rgba(238, 13, 13, 0.75); */
    background: var(--nav-hover);
    color: var(--contrast-color);
    font-weight: bold;
}

section {
    padding: 0 0.5rem;
    display: grid;
    gap: 1rem;
}

img {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
}