@media only screen and (min-width: 50em) {
    main {
      max-width: 65vw;
    }
    
    header {
      gap: 7rem;
    }
    
    footer {
      height: 10rem;
    }
    
    footer p {
      font-size: 1.3rem;
    }
    
    footer p:nth-child(1) {
      font-size: 1.6rem;
    }
    
  }